* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
}

a {
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

body {
  background-color: #1e1e1e;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

form button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}

form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  height: 30px;
  width: 30px;
}

.successMessage {
  padding: 10px;
  display: flex;
  justify-content: center;
  color: green;
}

.errorMessage {
  padding: 10px;
  display: flex;
  justify-content: center;
  color: red;
}

.textBoxInput {
  height: 4ch;
}
